/* Variables */
:root {
  --borderred: hsl(0, 78%, 62%);
  --bordercyan: hsl(180, 62%, 55%);
  --borderorange: hsl(34, 97%, 64%);
  --borderblue: hsl(212, 86%, 64%);
  --primary: hsl(234, 12%, 34%);
  --secondary: hsl(229, 6%, 66%);
  --light: hsl(0, 0%, 98%);
  --shadow: 0px 3px 6px 6px hsla(229, 6%, 66%, 0.2);
}

/* Global */

html {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background: var(--light);
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

p {
  color: var(--secondary);
}

.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "box-1 box-2 box-4"
    "box-1 box-3 box-4";
    justify-content: center;
       
}

.box {
  text-align: left;
  background: var(--light);
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  font-size: 0.8rem;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  width:300px;
  height:200px;
}

.box > img:last-child {
  align-self: flex-end;
}

img {
  width: 70px;
  margin-top:10px;
  margin-bottom:0;
}

/* Header */

.heading-1 {
  font-weight: 400px;
  font-size: 3em;
  color: var(--primary);
  font-weight: lighter;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.heading-2 {
  font-weight: 600px;
  font-size: 3em;
  color: var(--primary);
  padding: 0;
  margin: 0;
}

header p {
  font-weight: 200px;
  font-size: 1em;
  margin-bottom: 50px;
}

/* Grid */
.box-1 {
  grid-area: box-1;
  border-top: 3px solid var(--bordercyan);
  place-self: center;
  
  }

.box-2 {
  grid-area: box-2;
  border-top: 3px solid var(--borderred);
  
}

.box-3 {
  grid-area: box-3;
  border-top: 3px solid var(--borderorange);
  
}

.box-4 {
  grid-area: box-4;
  border-top: 3px solid var(--borderblue);
  place-self: center;
  }

  .box-1 p{
    margin-bottom:30px;
  }

  .box-3 p{
    margin-bottom:30px;
  }
/* Media Queries */

footer{
  margin-top:70px;
}

@media (max-width: 500px) {
  .grid {
    grid-template-areas:
      'box-1'
      'box-2'
      'box-3'
      'box-4';
  }
}
